@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');


.center-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

* {
    font-family: 'Kanit', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

body {
    background: #f7f7f7;
}